.header {
    font-size: 2.1rem;
    font-weight: 600;
    padding: 2rem 0;
}


.flex {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    /* align-items: center; */
    /* padding: 10rem 0; */
}

.flex-2 {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.image {
    padding: 1.5rem 0;
    /* margin-bottom: 1rem; */
}

.main-content {
    background: #fff;

}

.sub-container {
    margin:0 auto;
    padding: 1rem 0;
    max-width: 1200px;
    display: flex;
    gap: 2rem;
}

.left-container {
    margin-top: 1rem;
    flex: 3.0;
}

.left-sidebar {
    background: #9e2a2b;
    color: #fff;
    padding: 1rem ;
}

.left-sidebar > li {
    padding: .6rem;
    font-weight: 600;
}

.left-sidebar > li > a {
    color: #fff;
} 

.right-container {
    flex: 9.0;
}

.content {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.left-section {
    flex: 2.0;
}

.center-section {
    flex: 8.0;
}

.tour-container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-size {
    width: 80%;
    height: auto;
}

.card {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.col {
    /* border: 1px solid #111; */
    width: 300px;
    height: auto;
    transition: all ease .5s;
    cursor: pointer;
}

.col:hover {
    transition: all ease .3s;
    background: #9e2a2b;
    color: #fff;
}

.col-header {
    padding: 1.2rem;
}

.link {
    background-color: red;
}

.text {
    margin-top: .5rem;
}

.large-text {
    margin-top: .5rem;
    font-size: 18px;
    font-weight: 700;
}

.register-section {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #111;
}

.contact-form {
    margin-top: 2rem;
}

.personal-form {

}

.input {
    width: 400px;
}

.form-group {
    width: 500px;
    padding: 0 .4rem;
}

.form-title {
    background: #9e2a2b;
    padding: 1rem .4rem;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.heading {
    margin-top: .5rem;
    font-size: 24px;
    font-weight: 700;
}

.heading-2 {
    margin-top: .5rem;
    font-size: 18px;
    font-weight: 600;
}

.image_wrapper {
    padding: 2rem;
    /* height: 250px; */
}

.consular {
    padding: 1.5rem 0;
}

.external-links-form {
    border: 1px solid #111;
    width: 600px;
    margin: 1rem auto;
}

.news-form {
    border: 1px solid #111;
    width: 600px;
    margin: 1rem auto;
}

.clients-table {
    border: 1px solid #111;
    margin: 1rem auto;
    width: 1000px;
}
