{% extends "base.html" %}

{% block content %}

<!-- main content -->
<!-- form -->

<div class="main-content">
    <div class="sub-container flex-2" style="padding: 4.8rem 0;">
        <form action="/login">
            <h2>Login</h2>
            <input type="email" name="email" id="materialFormRegisterEmailEx" class="form-control">
            <label for="materialFormRegisterEmailEx">Your email</label>
            <input type="password" name="password" id="materialFormRegisterPasswordEx" class="form-control">
            <label for="materialFormRegisterPasswordEx">Your password</label>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Login</button>
        </form>
    </div>
</div>

{% endblock %}